<table class="table">
  <tr>
    <th>#</th>
    <th>name</th>
    <th>lastname</th>
    <th>active</th>
    <th>Azioni</th>
  </tr>
  <tr *ngFor="let user of allUsers; let i = index">
    <td>{{i+1}}</td>
    <td>{{user.name}}</td>
    <td>{{user.lastname}}</td>
    <td>{{user.active}}</td>
    <td>
      <a [routerLink]="['/edit',user.id]" class="btn btn-warning text-dark">Modifica</a>
      <a (click)="deleteUser(user.id)" class="btn btn-danger text-dark">Elimina</a>
    </td>
  </tr>
</table>
