h3{
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 0.8rem;
    border-top: 1px solid #000
}
.container{
    display: flex;
}

.blocco{
    height: 100px;
    width: 150px;
    background-color: #ccc;
    border: 1px solid #fff;
    box-sizing: border-box;
}

.blocchi-auto .blocco{
    height: auto;
}
.blocchi-larghezza-auto .blocco{
    width: auto;
}

#n2{
    flex-direction: column;
}

#n3{
    flex-direction: row-reverse;
}

#n4{
    flex-direction: column-reverse;
}

#n6{
    flex-wrap: wrap;/* fa si che gli elementi prendano il loro spazio senza essere ridimensionati, qualora gli elementi eccedano alla dimensione del genitore questi vanno a capo*/
}

#n7{
    flex-wrap: wrap-reverse;
}

#n8{
    flex-wrap: wrap;
}

#n9{
    flex-wrap: wrap;
    justify-content: flex-end;
}

#n10{
    flex-wrap: wrap;
    justify-content: center;
}

#n11{
    flex-wrap: wrap;
    justify-content: space-between;
}

#n12{
    flex-wrap: wrap;
    justify-content: space-around;
    /*fa si che attorno ad ogni colonna vi sia lo stesso spazio, ogni elemento ha il suo spazio, che si somma con gli spazi degli altri elementi*/
}

#n13{
    flex-wrap: wrap;
    justify-content: space-evenly;
    /*ripartisce in maniera equa gli spazi, lo spazio che distanza gli elementi è in comune tra loro.*/
}

#n14{
    height: 200px;
    align-items: flex-start;
    background-color: rgb(23, 207, 207)
    /*fa si che gli elementi si posizionino allo start verticale
    
    gli elementi di dimensione differente non si adatteranno in base alle dimensioni degli altri elementi della riga
    */
}

#n14 .blocco:first-child{
    height: 100px;
}

#n15{
    height: 200px;
    align-items: flex-end;
    background-color: rgb(23, 207, 207)
}

#n15 .blocco:first-child{
    height: 100px;
}


#n16{
    height: 200px;
    align-items: center;
    background-color: rgb(23, 207, 207)
}

#n16 .blocco:first-child{
    height: 100px;
}

#n17{
    height: 200px;
    align-items: stretch;
    background-color: rgb(23, 207, 207)
}

#n18{
    height: 200px;
    align-items: baseline;
    background-color: rgb(23, 207, 207)
}

#n19{
    height: 400px;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: rgb(23, 207, 207)
}
#n20{
    height: 400px;
    flex-wrap: wrap;
    align-content: flex-end;
    background-color: rgb(23, 207, 207)
}
#n21{
    height: 400px;
    flex-wrap: wrap;
    align-content: center;
    background-color: rgb(23, 207, 207)
}
#n21 .blocco:nth-child(2) {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
#n21 .blocco:nth-child(2) div {
    height: 20px;
}


#n22 {
    align-content: stretch;
    flex-wrap: wrap;
    height: 400px;
    background-color: rgb(23, 207, 207);
}

#n23 {
    align-content: space-between;
    flex-wrap: wrap;
    height: 400px;
    background-color: rgb(23, 207, 207);
}

#n24 {
    align-content: space-around;
    flex-wrap: wrap;
    height: 400px;
    background-color: rgb(23, 207, 207);
}

#n25 {
    flex-wrap: wrap;
}

#n25 .blocco:nth-child(1){
    order: 6;
}
#n25 .blocco:nth-child(2){
    order: 2;
}
#n25 .blocco:nth-child(3){
    order: 3;
}
#n25 .blocco:nth-child(4){
    order: 4;
}
#n25 .blocco:nth-child(5){
    order: 5;
}
#n25 .blocco:nth-child(6){
    order: 1;
}



#n26 .blocco{
    flex-grow: 1;
}
#n26 .blocco:nth-child(1){
    flex-grow: 3;
}

#n27 .blocco{
    width: 300px;
    flex-grow: 1;
}
#n27 .blocco:nth-child(1){
    flex-shrink: 4;
}
#n27 .blocco:nth-child(2){
    flex-shrink: 2;
}


#n28 .blocco{
    flex-basis: 30%;
}

#n29 .blocco{
    flex: 1 1 auto;
}
#n29 .blocco:nth-child(1){
    flex-basis: 30%;


    padding: 0 15px
}
#n29 .blocco:nth-child(2){
    flex-shrink:5;
}
#n29 .blocco:nth-child(3){
    flex-grow:2;
}

.area-bianca{
    background-color: #fff;
}
