body {
    background-color : #ededed; 
    font-family : "Open Sans", sans-serif;}

h1 {
    padding: 40px; 
    text-align: center; 
    font-size: 1.5em;
}

li  {
    text-decoration : none; 
    color : #2d2f31;
}


nav {
  width : 300px; 
  background: #d9d9d9;
  margin : 40px auto; 
}

span {
  padding : 30px;
  background : #2d2f31; 
  color : white;
  font-size : 2rem;
  font-variant : small-caps;
  cursor : pointer;
  display: block;
}

span::after {
  float: right;
  right: 10%;
  content: "+";
}

.slide {
  clear:both;
  width:100%;
  height:0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
}

.slide li {padding : 30px;}

#touch {
    position: absolute; 
    opacity: 0; 
    height: 0px;}

#touch:checked + .slide {
    height: 300px;
}

.container{
    width: 200px;
    margin: 0 auto;
}


.paragraph-styling{
    margin: 1rem;
}

/* speedrun styling */

