{{data | json}}
<mat-dialog-content class="mat-typography">


  Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi provident harum culpa optio fuga sed consequuntur quod non odio quibusdam ab velit, illo voluptatem distinctio at. Magnam tempore ex cupiditate!
  Consequatur rerum corporis tenetur ea autem adipisci nihil culpa, velit voluptates ducimus nobis repellat, ex asperiores obcaecati! Iste vel neque dicta. Autem nulla, expedita harum distinctio ea maiores iure eum!
  Id ipsa reprehenderit quisquam voluptatibus illo corporis officia, adipisci quam assumenda! Adipisci dolorum in explicabo corrupti. Natus necessitatibus recusandae, nostrum nam quos odio sed doloremque explicabo? Dolore eveniet similique maiores.
  Consequuntur, aspernatur exercitationem quam officiis dicta dignissimos nulla assumenda deserunt, quisquam ab facere laborum. Dolores harum, voluptate natus quam mollitia dolor ex reprehenderit quas, qui magni cum animi, illo doloremque?
  Veniam voluptate tempore voluptatibus quos ad accusamus ex nemo explicabo adipisci magni rem, vel maiores minus iure repellat illo minima voluptas iste molestias nisi vero at itaque. Illum, expedita accusantium.
  Magni vitae veniam sed, nihil debitis dolore exercitationem earum quaerat, eos quos asperiores molestias quis in, tenetur ipsam voluptatibus necessitatibus! Vel ad quisquam omnis amet et nemo non aliquam fuga!
  Alias assumenda modi id. Officiis, perferendis? Debitis autem labore minima dolorem animi velit possimus, qui incidunt aspernatur error, alias quis reiciendis non nemo ea odio neque voluptates reprehenderit. Ducimus, nisi.
  Ratione debitis facilis dolores praesentium maiores odit, non provident totam veniam illo sequi libero minima rem accusantium a repudiandae commodi? Velit excepturi temporibus veritatis rerum, voluptate debitis. Hic, vero totam!
  Placeat amet incidunt delectus iure minus neque nisi, numquam dignissimos in natus consequatur iusto odit nemo doloremque porro alias tempora, sequi illo unde sint tempore at accusamus. Non, soluta magnam.
  At, assumenda. Perspiciatis rem aspernatur aut voluptate vitae aliquid delectus officia ex quo! Suscipit itaque nostrum omnis qui, nihil quam sunt laboriosam alias, incidunt dolorem possimus impedit deserunt aut obcaecati.
  Quisquam, ea ratione deleniti, sint dolores quam consectetur odit mollitia neque sunt fugit ipsam veritatis, veniam vel voluptatibus cupiditate? Debitis modi magni reiciendis totam optio adipisci cumque, est quia earum?
Perferendis quia exercitationem tempora vel repellendus corrupti molestias doloribus? Facere eum blanditiis quidem, dignissimos tenetur eos accusantium natus iusto temporibus qui perspiciatis optio exercitationem labore, autem architecto vitae cumque alias?
Neque, natus nesciunt. Praesentium, facere distinctio eligendi maxime at incidunt sequi cumque eum rem rerum eos. Eos, minima nobis? Perferendis porro fugit facilis asperiores quibusdam blanditiis neque quam, sint qui?
Nemo asperiores incidunt voluptatem, architecto dolor quod facilis eaque. Quam consequuntur explicabo illum recusandae facere tempore adipisci animi vel quia magnam. Animi, adipisci officiis culpa suscipit laboriosam aperiam debitis possimus.
Itaque ullam assumenda, est debitis veritatis maiores molestias cupiditate adipisci repellendus fugiat placeat quia ipsa? Optio cupiditate eum repellat quaerat enim minima, nam vero veniam voluptatem est rem distinctio molestiae?
Consequuntur neque commodi sit dolor aspernatur necessitatibus quam assumenda magnam, pariatur saepe blanditiis facilis distinctio nam veritatis maiores sapiente aperiam? Non dolorem, eos omnis provident libero in necessitatibus id soluta?
Temporibus ratione quibusdam tempore reiciendis maiores, nesciunt tempora eum repellat earum fuga maxime eveniet dolores laudantium ea perferendis. Minima a iusto cum! Nulla sint accusantium nisi cupiditate tempora aliquid architecto.
Veniam optio, sint aspernatur velit possimus quaerat minus perspiciatis ullam. Maxime, atque. Maxime est soluta perspiciatis repudiandae reiciendis! Aliquam provident eveniet minima doloremque expedita aspernatur sint et non assumenda sunt!
Repellendus maxime reprehenderit reiciendis itaque distinctio dolorem inventore dolor, veritatis rerum error voluptas consectetur ut alias pariatur. Suscipit, quae praesentium nostrum qui in neque? Facilis soluta a modi suscipit tempore.
Inventore impedit adipisci, consequatur, recusandae eaque quas quae minus corporis dignissimos et deleniti optio ratione dolores rerum sequi labore eius? Totam excepturi ea tempora praesentium a itaque unde fugiat maiores.

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
