
<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a [routerLink]="['/']" class="nav-link px-2 text-white">Home</a></li>
        <li><a [routerLink]="['/newhero']" class="nav-link px-2 text-white">New Hero Template Driven sku sku</a></li>
        <li><a [routerLink]="['/newheroreactive']" class="nav-link px-2 text-white">New Hero Reactive Forms sku sku</a></li>

      </ul>

    </div>
  </div>
</header>
