<div class="container">
  <header>
    <h1>All todos to do!</h1>
  </header>

  <img [ngClass]="{'d-none': allTodos.length !== 0}" src="../../../assets/img/waitSource.webp"  >

  <div class="content">

    <div *ngFor="let todo of allTodos" [ngClass]="{'card-red': todo.completed == true}"
    class="card card-blue-light">
      <h3>{{todo.title}}</h3>
      <p>{{todo.content}}</p>
      <div class="btn-container">
        <div class="pad-top">
          <a (click)="doneIt(todo)" [ngClass]="{'d-none': todo.completed == true}" class="button">Done!</a>
        </div>
        <div class="pad-top">
          <a (click)="doneIt(todo)" [ngClass]="{'d-none': todo.completed == false}" class="button">x</a>
        </div>
        <div class="pad-top">
          <a [routerLink]="['edittodo',todo.id]"  class="button"><fa-icon [icon]="faPenToSquare"></fa-icon></a>
        </div>
        <div class="pad-top">
          <a (click)="deleteTodoo(todo)"  class="button"><fa-icon [icon]="faTrash"></fa-icon></a>
        </div>
      </div>
    </div>



  </div>
</div>

