@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

*{
  font-family: "Montserrat", sans-serif;
}




.btn {
  padding: 8px 20px;
  border-radius: 0;
  overflow: hidden;

  &:hover {
    background: transparent;
    box-shadow: 0 0 20px 10px hsla(204, 70%, 53%, 0.5);
    color: white;
    cursor: pointer;
    transition: 0.5s ease-out;


    &::before {
      transform: translateX(100%);
    }
  }
}

.form-input-material {
  --input-default-border-color: white;
  --input-border-bottom-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    color: rgb(0, 0, 0);
    margin-top: 0.5rem;
    padding : 1rem ;
    text-align: center;
  }

}
textarea{
  margin-top: 0.5rem;
  padding : 1rem ;
  text-align: center;
  }
.login-form {
  margin: 0 auto;
  margin-top: 3rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 40px;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 1px rgba(128, 128, 128, 0.155),
    0 2.1px 2.1px rgba(128, 128, 128, 0.195),
    0 4.4px 4.4px rgba(128, 128, 128, 0.241),
    0 12px 12px rgba(128, 128, 128, 0.35);

  h1 {
    margin: 0 0 24px 0;
  }

  .form-input-material {
    margin: 12px 0;
  }

  .btn {
    width: 50%;
    margin: 18px 0 9px 0;
  }
}
