#Carusello {
    background-image: url("../images/forest_e_planting/pexels-akil-mazumder-1072824.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;

    #carouselCaptions {
        margin: 0 auto;
        width: 75%;
        .userNick{
            color: textContrast($success)
        }
        .caroselloRecensione{
            background-color: rgba(41, 116, 41, 0.685);
            border-radius: 5px;
            @media screen and (min-width: 768px){
                font-size: 1.5rem;
            }
        }
        .bgCarusello{
            height: 500px;
            @media screen and (max-width: 768px){
                height: 100%;
                min-height: 220px;
            }
        }

        p {
            @media screen and (max-width: 768px) {
                line-height: 15px;

            }
        }
        @media screen and (max-width: 767px) {
            width: 100%;
            .userImg{
                margin-bottom: 1rem;
               }
           }
        
        @media screen and (max-width: 460px) {
           .userImg{
            display: none;
           }
        }

        .userImg {
            width: 80px;

            @media screen and (min-width: 768px) {
                width: 120px;
                margin-bottom: 2.5rem;
            }

            @media screen and (min-width: 1024px) {
                width: 160px;
                margin-bottom: 3rem;
            }
        }
    }

}