

#baobab{
    background-image: url(../images/alberi_price/BAOBAB.jpg);
    z-index: 10;
    background-size:cover ;
}
#sausagetree{
    background-image: url(../images/alberi_price/sausagetree.jpg);
    z-index: 10;
    background-size:cover ;
}
#marulatree{
    background-image: url(../images/alberi_price/marulatree.jpg);
    z-index: 10;
    background-size:cover ;
}