/* IMPOSTAZIONI GENERALI */

body {
    font-family: Fira Sans;
    margin: 0;
    height: 100%;
    font-size: 1.5rem;
    line-height: 1.8;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    line-height: 1;
    font-size: 4rem;
}

h2 {
    line-height: 1.1;
    font-size: 3.5rem;
}

h3 {
    line-height: 1.2;
    font-weight: bold;
    font-size: 2rem;
}

p {
    margin: 1rem auto;
}

/*================BOTTONI=================*/

.bottone {
    background: rgb(59, 56, 123);
    background: linear-gradient(275deg, rgba(59, 56, 123, 1) 0%, rgba(122, 178, 219, 1) 100%);
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    padding: 0.3rem;
    text-align: center;


}

.bottone a {
    color: white;
    text-decoration: none;
    padding: 1rem;
}

.bottone:hover {
    box-shadow: 0px 0px 20px 5px #d3d3d3;
    transition: 0.3s;
    cursor: pointer;
}

/*====================================================*/

/*=========ICONE=========*/
i {
    color: tomato;
    font-size: 3rem;
}


/* HEADER */

/*============MC CRISPY=============*/

* {
    box-sizing: border-box;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.281);
    color: #FFF;
    height: 64px;
    padding: 2rem;
    box-sizing: border-box;

}

.top-nav>div {
    display: flex;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: tomato;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menuref {
    color: tomato;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(97, 97, 97, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}



/* MAIN */

/*======PRIMA SEZIONE========*/

.primasezione {
    display: flex;
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    min-height: 500px;
    box-shadow: 1px 1px 3px #d3d3d3;

}

#titolo-index {
    padding-bottom: 1rem;
}


.primasezione>div {
    margin: 2rem;
    color: white;
    text-shadow: 2px 2px 5px #020202;
}

.primasezione>div .bottone {
    float: left;
}

/*=============SECONDA SEZIONE=============*/
.articoli {
    margin: 2rem 1.5rem;
    text-align: center;
}

.intermezzo {
    color: white;
    background-color: #0B0631;
    padding: 8rem 2rem;
}

.intermezzo .bottone {
    width: 12rem;
    margin: 0 auto;
}

#fotoicon {
    margin-bottom: 4rem;
    border-radius: 1rem;
    box-shadow: lightgray 1px 1px 10px;
}

.articoli .inline-icon {
    display: flex;
    justify-content: center;
}

.inline-icon i {
    padding-right: 1rem;
}



/* FOOTER 

footer{
    background-color: #d3d3d3;
    padding-top: 2rem;
    padding-bottom: 1rem;
    
}

.articoli-footer{
    text-align: left;
    margin: 3rem;
}
.articoli-footer .bottone{
    margin: 0;
    width: 400px;
    border-radius: 0;

}
.articoli-footer input{
    width:400px;
    height: 50px;
}
.articoli-footer>h3{
    padding-bottom: 2rem;
}

#newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

*/

footer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: #d3d3d3;
    padding: 2.5rem;
    justify-content: space-evenly;

}

.articoli-footer .bottone {
    margin: 0;
    width: 400px;
    border-radius: 0;

}

.articoli-footer input {
    width: 400px;
    height: 50px;
}

.articoli-footer>h3 {
    padding-top: 2rem;
}

.articoli-footer i {
    padding: 0.6rem;
}
#piè-di-pagina{
    text-align: center;
    background-color: #d3d3d3;
    border: #d3d3d3 solid;
}

/*================CHI SIAMO.HTML=================*/

.chisiamo img{
   max-width: 100%;
   border-radius: 1rem;
   box-shadow: rgb(122, 122, 122) 1px 1px 10px;
}

.table-blue-bg{
    background-color:#D4DDE6 ;
}

.table-mobile tr th{
    font-weight: bold;
    text-align: left;
}


/* ===========CONTATTI=========== */



.form-contatti{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-contatti input{
    margin: 0.5rem;
    padding: 0.5rem;
    width: 280px;
}
.form-contatti input:nth-of-type(3){
   padding-bottom: 3rem;
}

.articoli-contatti p, address{
    font-size: 1.2rem;
    line-height: 1.8rem;
}
