
<form *ngIf="currentTodo.title !== ''" class="login-form" >
  <h1>Edit Todo!</h1>
  <div class="form-input-material">
    <label for="titile">Todo name</label>
    <input type="text" name="titile" id="titile" [(ngModel)]="currentTodo.title" placeholder="what u have to do? " class="form-control-material" required />

  </div>
  <div class="form-input-material">
    <label for="content">Write more accuratly</label>
    <textarea type="text" name="content" id="content" [(ngModel)]="currentTodo.content" placeholder="Where? When? What?"  class="form-control-material" ></textarea>
   <!--  <input type="text" name="content" id="content" [(ngModel)]="newTodo.content" placeholder="Where? When? What?"  class="form-control-material" required /> -->

  </div>
  <button type="submit" (click)="save(currentTodo)" class="btn btn-primary btn-ghost">Update Todo!</button>
</form>

